.auth {
  margin: 0 30px;
  display: flex;
  align-items: center;
}
.auth__control {
  cursor: pointer;
  padding: 6px 16px;
  background-color: #25469e;
  color: #ffffff;
  border: 2px solid #fff;
  font-size: 0.9em;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
}
.auth__control_sightOut {
  background-color: #00b566;
}
.auth__control:focus {
  border: 2px solid #1eddff;
}

.auth__control:last-child {
  margin-left: 15px;
}
.auth__control:hover {
  background-color: #476bcf;
}

@media (max-width: 900px) {
  .auth {
    width: 100%;
    padding: 0 5px;
    flex-direction: column;
    margin: 10px auto;
    align-items: flex-end;
  }
  .auth__control {
    text-align: center;
    margin-top: 5px;
    border-radius: 0;
    width: 100%;
  }
}
