.movieCard {
  position: relative;
  overflow: hidden;
  max-width: 410px;
  padding: 5px;
  min-height: 370px;
  max-height: 395px;
  margin: 15px 15px 0 0;
  word-break: break-word;
}
img {
  border-radius: 15px;
}

p {
  font-size: 1em;
  padding: 5px;
  font-weight: bold;
  color: #c4aa7a;
}
section {
  margin: 10px auto;
  padding: 15px;
  color: #ffffff;
}
.content__title {
  text-align: center;
  max-width: 185px;
}
.content__title > p {
  padding: 0;
  margin-top: 5px;
}

.movieCard__info {
  border-radius: 25px;
  overflow: auto;
  background-color: #525252;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  right: 0;
  transform: translateY(103%);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 215px;
  height: 100%;
  margin: 5px auto;
}
.movieCard:hover .movieCard__info {
  transform: translateY(-3%);
}

.movieCard:hover {
  cursor: pointer;
  padding: 3px;
  background-color: #525252;
  border-radius: 25px;
  border: 2px solid #ffffff;
}
.movieCard__rate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  max-width: 190px;
  height: 30px;
}
.rate__block {
  margin-right: 5px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #808080;
  background-color: #fff;
  height: 10px;
}
.rate__block:last-of-type {
  margin-right: 0;
}

.movieCard__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
