.formWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7575754b;
}
h2 {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.form {
  margin: 120px auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
  max-width: 285px;
  box-shadow: 1px 2px 5px 3px;
  border-radius: 5px;
  /* background-color: #183481; */
  background: linear-gradient(0deg, #43cdcf 0%, #183481 100%);
}
.form__article {
  text-align: center;
  color: #000;
  font-size: 0.8em;
}
.form__label {
  padding: 5px;
  color: #f3f307;
  text-align: center;
  font-family: system-ui;
  word-break: break-word;
}
.form__label_red {
  font-weight: bold;
  color: #b10000;
}

.form > input {
  margin: 5px;
  line-height: 1.5em;
  font-size: 1.1em;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #183481;
  color: #fff;
  outline: none;
}

.form > input::placeholder {
  color: #adadad;
}
.form > input:focus {
  border: 2px solid #1eddff;
}
.form > button:focus {
  border: 2px solid #1eddff;
}

.form > button {
  cursor: pointer;
  width: 100%;
  padding: 0.6em;
  background-color: #008080;
  border: 2px solid #fff;
  font-size: 0.9em;
  border-radius: 15px;
  margin: 15px auto;
  color: #fff;
  outline: none;
}
.form > button:hover {
  background-color: #03c4c4;
}
.form__link:hover {
  color: #d6ee02;
}
